<div class="row">
  <h1>Приложение список автомобилей</h1>
</div>

<div class="row">
  <section class="col-md-4">
    <nav id="navigation"></nav>
  </section>

  <div class="col-md-8">
    <p>
      Header text: {{ text }}
    </p>
  </div>
</div>
