<h2>Create Car</h2>
<form id="car-form">
  <label for="model">
    <b>Модель: </b><input type="text" id="model" name="model">
  </label>
  <br />
  <label for="price">
    <b>Цена: </b><input type="text" id="price" name="price">
  </label>
  <br />
  <label for="year">
    <b>Год: </b><input type="text" id="year" name="year">
  </label>
  <br />
  <label for="description">
    <b>Описание: </b><input type="text" id="description" name="description">
  </label>
  <br />
  <label for="description">
    <b>Фото: </b><input type="file" id="photo" name="photo">
  </label>
  <br />
  <button type="submit" id="create">Create</button>
</form>
