<h2>Редактирование автомобиля</h2>
{{#each photo}}
<div>
  <ul>
    <li><img src="{{this}}" width="250"></li>
  </ul>
</div>
{{/each}}

<a class="btn btn-default link link-delete" data-model-id="{{ id }}" href="#">Delete</a>
