.footer {
  padding: 20px;
}

.header-item, .item {
  display: inline-block;
  list-style: none;  
}

#main {
  padding: 60px 0;
}

#main, #pagination {
  margin-bottom: 100px;
}

label {
  width: 200px;
}
