<div class="row">
  <h1>Приложение список автомобилей</h1>
</div>

<div class="row">
  <section class="col-md-4">
    <nav>
      <ul>
        <li class="item">
          <a class="btn btn-default" href="#">Home</a>
        </li>
        <li class="item">
          <a class="btn btn-default" href="#car/create">Create</a>
        </li>
        <li class="item">
          <a class="btn btn-default" href="#about-us">About Us</a>
        </li>
      </ul>
    </nav>
  </section>

  <div class="col-md-8">
    <p>
      Header text: {{ text }}
    </p>
  </div>
</div>
